.button{
    width: 100%;
    max-width: 130px;
    border: none;
    color: #fff;
    font-family: inherit;
    padding: 0.5rem;
    font-size:1rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover{opacity: .5;}
}
.btn-primary{
    background-color: $primaryBgColor;
}

.btn-danger{
    background-color: red
}

