.Logo{
    background: $colorWhite;
    padding: 1rem;
    min-height: 69px;
    padding: 0.6rem 0.4rem;
    border-right:1px solid #e3e0e0;
    &__link{

        &--img{
            width: 100%;
            display: block;
        }

    }

}