.Preloader{

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:#52ca40;
    z-index: 1233123;

    &__content{
        
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 30%;
        // bottom: 50%;
        text-align: center;
        width: 100%;

        &--heading{
            position: relative;
            top: -46px;
            color: #222;
            font-size: 1.4rem;
        }

        img{
            width: 300px;
        }

    }

}