.Preloader{

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .6);

    &__content{
        

        &--heading{
            font-size: 1rem;
        }

    }

}