.header{
    height: 69px;
    border-bottom: 1px solid #dbd3d3;
    border-left: 1px solid #dbd3d3;
    padding: 0.6rem;
    &__container{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
    }
}